* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 22vh;
    background: #D9D9D9;
}
main {
    height: 56vh;
    background: #A4A4A4;
    display: flex;
    justify-content: space-between;
}
footer {
    height: 22vh;
    background: #D9D9D9;
}
aside {
    width: 26vw;
    background: #C0BDBD;
}
