.menu {
    display: flex;
    justify-content: space-between;
}
.menu-left .menu-right{
    justify-content: space-around;
    display: flex;
}
.start {
    padding-left: 30px;
}
body {
    /*margin: 0 200px;*/
    /*padding: 0 200px;*/
    justify-content: center;

}
a {
    text-decoration: none
}