@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .active{
        color: #4c9a6e;
    }
}
/*===========================HEADER====================*/
header{
    font-family: "Orbitron", sans-serif;
    height: 10vh;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
header nav{
    width: 60%;
}
nav ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
header nav ul a{
    text-decoration: none;
    color: rgba(106, 106, 106, 0.71);
    transition: 0.5s;
    font-size: 18px;
}
header nav ul a:hover{
    color: #135a3b;
    transition: 1s;
}
header div{
    text-align: center;
}
/*===========================SECTION====================*/
section{
    font-family: "Orbitron", sans-serif;
    height: 90vh;
    background-image: url("Allan Jonson1.png");
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.first-text{
    margin-top: 10vh;
}
section p{
    font-size: 20px;
}
section h1{
    font-size: 100px;
    letter-spacing: 40px;
    margin: 10px 0;
}
section button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    transition: 1s;
}
section button:hover{
    transform: scale(1.1);
    transition: 1s;
}
/*===========================CONTACT US====================*/
main {
    display: flex;
    flex-direction: row;
    font-family: "Orbitron", sans-serif;
    text-align: left;
    justify-content: space-evenly;
    padding: 70px;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(19, 90, 59, 0.5887605042016807) 36%, rgba(255, 255, 255, 1) 100%);
}
.info {
    border-color: #9c9c9c;
    border-style: solid;
    border-radius: 10px;
    background-color: rgba(156, 156, 156, 0.2);
    width: 500px;
    height: 80px;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    align-content: center;
}
h3{
    padding: 20px;
}
main p{
    transition: 1s;
    color: white;
}
main p:hover{
    color: #135a3b;
    transition: 1s;
}
address{
display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
}
address p{
    padding: 10px;
}
#contactUs{
    height: 150px;
    display: flex;
    flex-direction: column;
}
#phone{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
#phone p {
    padding: 10px;
}
#mail{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
#mail p {
    padding: 10px;
}






